.container {
    width: 500px;
    height: 500px;
    background-color: lightgray;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.child {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}

.child:nth-child(1) {
    background-color: coral;
    flex: 5;
}

.child:nth-child(2) {
    background-color: lightblue;
    flex: 5;
}

.child:nth-child(3) {
    background-color: lightgreen;
    flex: auto;
}

.child:nth-child(4) {
    background-color: lightpink;
    flex: 4;
}